pipeline/ASSET_SAGACITY_BUSINESS_ENTITY.json
{
	"name": "ASSET_SAGACITY_BUSINESS_ENTITY",
	"properties": {
		"activities": [
			{
				"name": "INTEGRATE DATA TO STAGING",
				"type": "DatabricksSparkJar",
				"dependsOn": [
					{
						"activity": "Set guid variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"mainClassName": "com.carmignac.icare.elysee.project.staging.AssetSagacityBusinessEntity",
					"parameters": [
						"@pipeline().parameters.filePath",
						"@pipeline().parameters.dataSource",
						"@pipeline().parameters.dataSet",
						"@variables('guid')"
					],
					"libraries": [
						{
							"jar": "dbfs:/databricks/job-jars/IcareDataLib.jar"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "LS_DTBK_1_NODE_12_2_RUNTIME",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set guid variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "guid",
					"value": {
						"value": "@if(empty(pipeline().parameters.guid), guid(), pipeline().parameters.guid)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "INTEGRATE DATA TO BUSINESS",
				"type": "DatabricksSparkJar",
				"dependsOn": [
					{
						"activity": "INTEGRATE DATA TO STAGING",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"mainClassName": "com.carmignac.icare.elysee.project.business.EsgEnrich",
					"parameters": [
						"@pipeline().parameters.filePath",
						"@pipeline().parameters.dataSource",
						"@pipeline().parameters.dataSet",
						"@variables('guid')"
					],
					"libraries": [
						{
							"jar": "dbfs:/databricks/job-jars/IcareDataLib.jar"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "LS_DTBK_1_NODE_12_2_RUNTIME",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"filePath": {
				"type": "string"
			},
			"dataSource": {
				"type": "string"
			},
			"dataSet": {
				"type": "string"
			},
			"guid": {
				"type": "string"
			}
		},
		"variables": {
			"guid": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ESG"
		},
		"annotations": []
	}
}