pipeline/BI_RAW_TO_STAGING.json
{
	"name": "BI_RAW_TO_STAGING",
	"properties": {
		"activities": [
			{
				"name": "wendy_parse_excel_file",
				"type": "DatabricksSparkJar",
				"dependsOn": [
					{
						"activity": "Set csvFilePath variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"mainClassName": "com.carmignac.icare.elysee.project.BiDigitalization",
					"parameters": [
						"@pipeline().parameters.filePath",
						"@variables('dataSource')",
						"@variables('dataSet')",
						"@variables('date')",
						"@pipeline().RunId"
					],
					"libraries": [
						{
							"jar": "dbfs:/databricks/job-jars/IcareDataLib.jar"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "LS_DTBK_1_NODE_12_2_RUNTIME",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Execute raw to staging pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "wendy_parse_excel_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "RAW_TO_DELTA",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"filePath": {
							"value": "@variables('csvFilePath')",
							"type": "Expression"
						},
						"dataSource": {
							"value": "@variables('dataSource')",
							"type": "Expression"
						},
						"dataSet": {
							"value": "@variables('dataSet')",
							"type": "Expression"
						},
						"guid": {
							"value": "@guid()",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set csvFolderPath variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "csvFolderPath",
					"value": {
						"value": "@join(\n    take(\n        split(pipeline().parameters.filePath, '/'), \n        sub(\n            length(split(pipeline().parameters.filePath, '/')), \n            1\n        )\n    ),\n    '/'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set date variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set csvFolderPath variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "date",
					"value": {
						"value": "@last(\n    split(\n        first(\n            split(\n                last(split(pipeline().parameters.filePath, '/')),\n                '.'\n            )\n        ),\n        '_'\n    )\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set csvFilePath variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set date variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "csvFilePath",
					"value": {
						"value": "@concat(variables('csvFolderPath'), '/', variables('date'), '_000000_Wendy.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "BIDigitToRender",
				"type": "DatabricksSparkJar",
				"dependsOn": [
					{
						"activity": "Execute raw to staging pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"mainClassName": {
						"value": "com.carmignac.icare.elysee.project.render.BiStagingToRender",
						"type": "Expression"
					},
					"parameters": [],
					"libraries": [
						{
							"jar": "dbfs:/databricks/job-jars/IcareDataLib.jar"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "LS_DTBK_1_NODE_9_1_RUNTIME",
					"type": "LinkedServiceReference"
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"filePath": {
				"type": "string"
			},
			"NotebookPath": {
				"type": "string"
			}
		},
		"variables": {
			"dataSource": {
				"type": "String",
				"defaultValue": "morningstar"
			},
			"dataSet": {
				"type": "String",
				"defaultValue": "wendy"
			},
			"csvFilePath": {
				"type": "String"
			},
			"csvFolderPath": {
				"type": "String"
			},
			"date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "BI"
		},
		"annotations": []
	}
}