pipeline/ENRICHMENT_PUSH_ISSUER.json
{
	"name": "ENRICHMENT_PUSH_ISSUER",
	"properties": {
		"description": "pipeline to enrich isin scope for asset sagacity and output a csv",
		"activities": [
			{
				"name": "set_guid",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "guid",
					"value": {
						"value": "@if(empty(pipeline().parameters.guid), guid(), pipeline().parameters.guid)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set_processingdate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "processingdate",
					"value": {
						"value": "@if(empty(pipeline().parameters.processingdate), utcnow('yyyy-MM-dd'), pipeline().parameters.processingdate)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "enrich_issuer_scope",
				"type": "DatabricksSparkJar",
				"dependsOn": [
					{
						"activity": "refresh isin_scope",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"mainClassName": "com.carmignac.icare.elysee.project.business.issuer.IssuerIsinEnrichmentForAssetSagacity",
					"parameters": [
						"@concat('/mnt/wip/assetsagacity/nofile.needed')",
						"@pipeline().parameters.datasource",
						"@pipeline().parameters.dataset",
						"@variables('guid')",
						"''",
						"''",
						"@variables('processingdate')"
					],
					"libraries": [
						{
							"jar": "dbfs:/databricks/job-jars/IcareDataLib.jar"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "LS_DTBK_EDM_01_FIPA",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "refresh isin_scope",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "set_processingdate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set_guid",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ISIN_SCOPE_PUSH_ISSUER",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"guid": {
							"value": "@variables('guid')",
							"type": "Expression"
						},
						"processingdate": {
							"value": "@variables('processingdate')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"dataSet": {
				"type": "string",
				"defaultValue": "issuer_scope"
			},
			"dataSource": {
				"type": "string",
				"defaultValue": "business"
			},
			"filePath": {
				"type": "string"
			},
			"guid": {
				"type": "string"
			},
			"processingdate": {
				"type": "string"
			}
		},
		"variables": {
			"guid": {
				"type": "String"
			},
			"processingdate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ASSET_SAGACITY"
		},
		"annotations": []
	}
}