pipeline/FIPA_instrument_business.json
{
	"name": "FIPA_instrument_business",
	"properties": {
		"activities": [
			{
				"name": "Get InstrumentProcessFile",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "@concat('select count(*) from tech.\"InstrumentProcessFile\" where filepath like ''%',pipeline().parameters.fileNamePathwtoraw,'%''')",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "POSTGRE_ELY_BUSINESS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get InstrumentProcessFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get InstrumentProcessFile').output.firstRow.count,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "instrument_business",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:25:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@concat(pipeline().parameters.UserNotebookPath,'/Notebooks/03-BUSINESS/FIPA_INSTRUMENT')",
									"type": "Expression"
								},
								"baseParameters": {
									"DataSet": {
										"value": "@variables('dataSet')",
										"type": "Expression"
									},
									"DataSource": {
										"value": "@variables('dataSource')",
										"type": "Expression"
									},
									"FileName": {
										"value": "@pipeline().parameters.fileNamePathwtoraw",
										"type": "Expression"
									},
									"isTimeTrackingEnabled": {
										"value": "@pipeline().parameters.isTimeTrackingEnabled",
										"type": "Expression"
									}
								},
								"libraries": [
									{
										"jar": "dbfs:/databricks/job-jars/IcareDataLib.jar"
									}
								]
							},
							"linkedServiceName": {
								"referenceName": "LS_DTBK_EDM_01_FIPA",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"fileNamePathwtoraw": {
				"type": "string"
			},
			"UserNotebookPath": {
				"type": "string"
			},
			"isTimeTrackingEnabled": {
				"type": "string",
				"defaultValue": "false"
			}
		},
		"variables": {
			"dataSource": {
				"type": "String",
				"defaultValue": "ubsdelta"
			},
			"dataSet": {
				"type": "String",
				"defaultValue": "contributions"
			}
		},
		"folder": {
			"name": "FIPA_process"
		},
		"annotations": []
	}
}