pipeline/FIPA_Restocking_from_synapse_file.json
{
	"name": "FIPA_Restocking_from_synapse_file",
	"properties": {
		"activities": [
			{
				"name": "ForEach file",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.directoryPath",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy file",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set fileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@pipeline().parameters.sourceName",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@concat(pipeline().parameters.tableName,'/raw/',pipeline().parameters.folderName,'/',item().name)",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADLS_archive_raw",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@concat(pipeline().parameters.tableName,'/raw/',pipeline().parameters.folderName,'/',item().name)",
											"type": "Expression"
										},
										"sourceName": {
											"value": "@pipeline().parameters.sourceName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_input_raw",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@variables('tableName')",
											"type": "Expression"
										},
										"sourceName": {
											"value": "@variables('sourceName')",
											"type": "Expression"
										},
										"fileName": {
											"value": "@variables('fileName')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set fileName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set folderName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileName",
								"value": {
									"value": "@replace(concat('/',variables('folderName'),'/',item().name),'raw','in')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set sourceName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set tableName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "sourceName",
								"value": {
									"value": "@pipeline().parameters.sourceName",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set tableName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tableName",
								"value": {
									"value": "@pipeline().parameters.tableName",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set folderName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set sourceName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "folderName",
								"value": {
									"value": "@substring(pipeline().parameters.folderName, 0, 8)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"directoryPath": {
				"type": "array"
			},
			"sourceName": {
				"type": "string"
			},
			"folderName": {
				"type": "string"
			},
			"tableName": {
				"type": "string"
			}
		},
		"variables": {
			"sourceName": {
				"type": "String"
			},
			"tableName": {
				"type": "String"
			},
			"fileName": {
				"type": "String"
			},
			"folderName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "FIPA_process/Restocking"
		},
		"annotations": []
	}
}