pipeline/INIT_INTERNALDATA_AND_MANAGERS.json
{
	"name": "INIT_INTERNALDATA_AND_MANAGERS",
	"properties": {
		"activities": [
			{
				"name": "init goal",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set_guid",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "goal",
					"value": {
						"value": "@pipeline().parameters.init_goal",
						"type": "Expression"
					}
				}
			},
			{
				"name": "goal decider",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "init goal",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(equals(variables('goal'), 'internal'),'true','false')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Init managers links",
							"type": "DatabricksSparkJar",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"mainClassName": "com.carmignac.icare.elysee.project.business.product.init.ManagersLink",
								"parameters": [
									"@pipeline().parameters.filepath",
									"@pipeline().parameters.dataSource",
									"@pipeline().parameters.dataSet",
									"@variables('set_guid')"
								],
								"libraries": [
									{
										"jar": "dbfs:/databricks/job-jars/IcareDataLib.jar"
									}
								]
							},
							"linkedServiceName": {
								"referenceName": "LS_DTBK_EDM_01",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Init internal data",
							"type": "DatabricksSparkJar",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"mainClassName": "com.carmignac.icare.elysee.project.business.product.init.InternalData",
								"parameters": [],
								"libraries": [
									{
										"jar": "dbfs:/databricks/job-jars/IcareDataLib.jar"
									}
								]
							},
							"linkedServiceName": {
								"referenceName": "LS_DTBK_EDM_01",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "set_guid",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "set_guid",
					"value": {
						"value": "@guid()",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"init_goal": {
				"type": "string"
			},
			"filepath": {
				"type": "string",
				"defaultValue": "/mnt/raw/product/fundManagers/in/20230628/FundManagerVehicle_20230522_010101.csv"
			},
			"dataSource": {
				"type": "string",
				"defaultValue": "product"
			},
			"dataSet": {
				"type": "string",
				"defaultValue": "Vehicle"
			},
			"guid": {
				"type": "string"
			}
		},
		"variables": {
			"goal": {
				"type": "String"
			},
			"set_guid": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PRODUCT"
		},
		"annotations": []
	}
}