pipeline/OLYMPIA_TABLE_TO_ADLS.json
{
	"name": "OLYMPIA_TABLE_TO_ADLS",
	"properties": {
		"activities": [
			{
				"name": "OLY_QUERY_TO_ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set fileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlMISource",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OLYMPIA_Generic",
						"type": "DatasetReference",
						"parameters": {
							"tableName": {
								"value": "@pipeline().parameters.tableName",
								"type": "Expression"
							},
							"schemaName": {
								"value": "@pipeline().parameters.schemaName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_INPUT_GENERIC_FILENAME",
						"type": "DatasetReference",
						"parameters": {
							"tableName": {
								"value": "@pipeline().parameters.tableName",
								"type": "Expression"
							},
							"sourceName": {
								"value": "@pipeline().parameters.sourceName",
								"type": "Expression"
							},
							"fileName": {
								"value": "@variables('fileName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set fileName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileName",
					"value": {
						"value": "@concat('in/',utcNow('yyyyMMdd'),'/',utcNow('yyyyMMdd_HHmmss'),'_',pipeline().parameters.tableName,'.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute RAW_TO_DELTA",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "OLY_QUERY_TO_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "RAW_TO_DELTA",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"filePath": {
							"value": "@concat('/mnt/raw/',pipeline().parameters.sourceName,'/',pipeline().parameters.tableName,'/',variables('fileName'))",
							"type": "Expression"
						},
						"dataSource": {
							"value": "@pipeline().parameters.sourceName",
							"type": "Expression"
						},
						"dataSet": {
							"value": "@pipeline().parameters.tableName",
							"type": "Expression"
						},
						"guid": {
							"value": "@guid()",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"tableName": {
				"type": "string"
			},
			"schemaName": {
				"type": "string"
			},
			"sourceName": {
				"type": "string",
				"defaultValue": "olympia"
			}
		},
		"variables": {
			"fileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "OLYMPIA"
		},
		"annotations": []
	}
}