pipeline/PRODUCT_SHARECLASSCOUNTRY_BUSINESS_ENRICHEMENT.json
{
	"name": "PRODUCT_SHARECLASSCOUNTRY_BUSINESS_ENRICHEMENT",
	"properties": {
		"activities": [
			{
				"name": "fileIntegration",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileIntegration",
					"value": {
						"value": "@pipeline().parameters.fileIntegrationCondition",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ShareClass Country Structure Enrichement_copy1_copy1",
				"type": "DatabricksSparkJar",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"mainClassName": "com.carmignac.icare.elysee.project.business.product.ShareClassCountry",
					"parameters": [
						"@pipeline().parameters.csvFilePath",
						"@pipeline().parameters.sourceName",
						"@pipeline().parameters.dataset",
						"@pipeline().parameters.guid",
						"@pipeline().parameters.startDate",
						"@pipeline().parameters.endDate"
					],
					"libraries": [
						{
							"jar": "dbfs:/databricks/job-jars/IcareDataLib.jar"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "LS_DTBK_EDM_01",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Vehicle Country Structure Enrichement_copy1_copy1",
				"type": "DatabricksSparkJar",
				"dependsOn": [
					{
						"activity": "ShareClass Country Structure Enrichement_copy1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"mainClassName": "com.carmignac.icare.elysee.project.business.product.VehicleCountry",
					"parameters": [
						"@pipeline().parameters.csvFilePath",
						"@pipeline().parameters.sourceName",
						"@pipeline().parameters.dataset",
						"@pipeline().parameters.guid"
					],
					"libraries": [
						{
							"jar": "dbfs:/databricks/job-jars/IcareDataLib.jar"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "LS_DTBK_EDM_01",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "fileIntegration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('fileIntegration')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute RAW_TO_DELTA_copy1_copy1_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "RAW_TO_DELTA",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"filePath": {
										"value": "@pipeline().parameters.csvFilePath",
										"type": "Expression"
									},
									"dataSource": {
										"value": "@pipeline().parameters.sourceName",
										"type": "Expression"
									},
									"dataSet": {
										"value": "@pipeline().parameters.dataset",
										"type": "Expression"
									},
									"datepattern": "yyyyMMdd",
									"guid": {
										"value": "@pipeline().parameters.guid",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"csvFilePath": {
				"type": "string"
			},
			"sourceName": {
				"type": "string"
			},
			"dataset": {
				"type": "string"
			},
			"guid": {
				"type": "string"
			},
			"startDate": {
				"type": "string"
			},
			"endDate": {
				"type": "string"
			},
			"fileIntegrationCondition": {
				"type": "bool",
				"defaultValue": true
			}
		},
		"variables": {
			"fileIntegration": {
				"type": "Boolean",
				"defaultValue": true
			}
		},
		"folder": {
			"name": "PRODUCT"
		},
		"annotations": []
	}
}