pipeline/PRODUCT_BUSINESS_ENRICHMENT_ESG.json
{
	"name": "PRODUCT_BUSINESS_ENRICHMENT_ESG",
	"properties": {
		"activities": [
			{
				"name": "fileIntegration",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileIntegration",
					"value": {
						"value": "@pipeline().parameters.fileIntegrationCondition",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Vehicle entity enrichement with esg data_copy1_copy1",
				"type": "DatabricksSparkJar",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"mainClassName": "com.carmignac.icare.elysee.project.business.product.ProductEsg",
					"parameters": [
						"@pipeline().parameters.xlsFilePath",
						"@pipeline().parameters.sourceName",
						"@pipeline().parameters.dataset",
						"@pipeline().parameters.guid",
						"@pipeline().parameters.startDate",
						"@pipeline().parameters.endDate"
					],
					"libraries": [
						{
							"jar": "dbfs:/databricks/job-jars/IcareDataLib.jar"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "LS_DTBK_1_NODE_12_2_RUNTIME",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "fileIntegration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('fileIntegration')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute Staging Integration_copy1_copy1_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "STAGING_INTEGRATION",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"dataset": {
										"value": "@pipeline().parameters.dataset",
										"type": "Expression"
									},
									"xlsFilePath": {
										"value": "@pipeline().parameters.xlsFilePath",
										"type": "Expression"
									},
									"guid": {
										"value": "@pipeline().parameters.guid",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"sourceName": {
				"type": "string",
				"defaultValue": "product"
			},
			"dataset": {
				"type": "string"
			},
			"xlsFilePath": {
				"type": "string"
			},
			"guid": {
				"type": "string"
			},
			"startDate": {
				"type": "string"
			},
			"endDate": {
				"type": "string"
			},
			"fileIntegrationCondition": {
				"type": "bool",
				"defaultValue": true
			}
		},
		"variables": {
			"fileIntegration": {
				"type": "Boolean",
				"defaultValue": true
			}
		},
		"folder": {
			"name": "PRODUCT"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-05T08:03:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}