pipeline/WENDY_REPORT_VENDOME_INTEGRATION.json
{
	"name": "WENDY_REPORT_VENDOME_INTEGRATION",
	"properties": {
		"activities": [
			{
				"name": "Set startDate variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "startDate",
					"value": {
						"value": "@if(\n    empty(pipeline().parameters.startDate), \n    formatDateTime(getPastTime(4, 'Day'), 'yyyy-MM-dd'), \n    pipeline().parameters.startDate\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "loopOverDateRange",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set endDate variable",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set startDate variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@less(\n    int(addDays(variables('endDate'), 0, 'yyyyMMdd')), \n    int(addDays(\n        variables('startDate'), \n        int(variables('counter')), \n        'yyyyMMdd')\n    )\n)\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set counter var",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set tmpCounter var",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "counter",
								"value": {
									"value": "@string(add(int(variables('tmpCounter')), 1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set tmpCounter var",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set asat",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tmpCounter",
								"value": {
									"value": "@variables('counter')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set asat",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "asat",
								"value": {
									"value": "@string(\n    addDays(\n        variables('startDate'),\n        int(variables('counter')),\n        'yyyyMMdd'\n    )\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "copy bench data from vendome to raw",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable full file name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "exec etl.P_Elysee_PortfoliosBenchmarkPerfForWendyReport '@{variables('asat')}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "VENDOME_Generic",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "\"\"",
										"schemaName": "\"\""
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_INPUT_GENERIC_FILENAME",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@variables('dataSet')",
											"type": "Expression"
										},
										"sourceName": {
											"value": "@variables('dataSource')",
											"type": "Expression"
										},
										"fileName": {
											"value": "@variables('fileName')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Execute RAW_TO_DELTA",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "copy bench data from vendome to raw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "RAW_TO_DELTA",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"filePath": {
										"value": "@concat('/mnt/raw/',variables('dataSource'),'/',variables('dataSet'),'/',variables('fileName'))",
										"type": "Expression"
									},
									"dataSource": {
										"value": "@variables('dataSource')",
										"type": "Expression"
									},
									"dataSet": {
										"value": "@variables('dataSet')",
										"type": "Expression"
									},
									"guid": {
										"value": "@guid()",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set variable full file name",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set counter var",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileName",
								"value": {
									"value": "@concat('in/',variables('asat'), '/', variables('asat'), '_000000_',variables('dataSet'), '.csv')\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable full file name SharePerf",
							"description": "",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set counter var",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileNameSharePerf",
								"value": {
									"value": "@concat('in/',variables('asat'), '/', variables('asat'), '_000000_',variables('dataSetSharePerf'), '.csv')\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SharePerf copy bench data from vendome to raw",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable full file name SharePerf",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "exec etl.P_Elysee_PortfoliosSharePerfForWendyReport '@{variables('asat')}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "VENDOME_Generic",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "\"\"",
										"schemaName": "\"\""
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_INPUT_GENERIC_FILENAME",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@variables('dataSetSharePerf')",
											"type": "Expression"
										},
										"sourceName": {
											"value": "@variables('dataSource')",
											"type": "Expression"
										},
										"fileName": {
											"value": "@variables('fileNameSharePerf')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Execute RAW_TO_DELTA_SharePerf",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SharePerf copy bench data from vendome to raw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "RAW_TO_DELTA",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"filePath": {
										"value": "@concat('/mnt/raw/',variables('dataSource'),'/',variables('dataSetSharePerf'),'/',variables('fileNameSharePerf'))",
										"type": "Expression"
									},
									"dataSource": {
										"value": "@variables('dataSource')",
										"type": "Expression"
									},
									"dataSet": {
										"value": "@variables('dataSetSharePerf')",
										"type": "Expression"
									},
									"guid": {
										"value": "@guid()",
										"type": "Expression"
									}
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Set endDate variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "endDate",
					"value": {
						"value": "@if(\n    empty(pipeline().parameters.endDate),\n    formatDateTime(utcNow(), 'yyyy-MM-dd'), \n    pipeline().parameters.endDate\n)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"startDate": {
				"type": "string"
			},
			"endDate": {
				"type": "string"
			}
		},
		"variables": {
			"fileName": {
				"type": "String"
			},
			"asat": {
				"type": "String"
			},
			"dataSet": {
				"type": "String",
				"defaultValue": "wendy_report"
			},
			"dataSource": {
				"type": "String",
				"defaultValue": "vendome"
			},
			"counter": {
				"type": "String",
				"defaultValue": "0"
			},
			"tmpCounter": {
				"type": "String"
			},
			"startDate": {
				"type": "String"
			},
			"endDate": {
				"type": "String"
			},
			"dataSetSharePerf": {
				"type": "String",
				"defaultValue": "wendy_report_share_perf"
			},
			"fileNameSharePerf": {
				"type": "String"
			}
		},
		"folder": {
			"name": "BI"
		},
		"annotations": []
	}
}